/* @import "../node_modules/reset-css/reset.css"; */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* HEADER COMPONENT */

nav .socialicons {
  position: relative;
  top: 15px;
  left: 50px;
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.nav-container .flex-item {
  /*  */
}

.socialicons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.vertical-bar {
  border-left: 1px solid black;
  height: 30px;
}

.search-box {
  border: none;
  padding: 5px;
}
